bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
libxmr-stak-c.a

# netbeans project files
/nbproject/

settings.json

# tmp files
*~

# merge original backup files
*.orig
